<div class="site-header">

  <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

  <label class="menu-icon" for="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </label>

  <input type="checkbox" class="menu-toggle" id="hamburger">

  <div class="site-menu">
    <a class="page-link" href="{{ site.baseurl }}/">Home</a>
    <a class="page-link" href="{{ "/research" | prepend: site.baseurl }}">Research Interests</a>
    <a class="page-link" href="{{ "/publications" | prepend: site.baseurl }}">Publications</a>
        <a class="page-link" href="{{ "/articles" | prepend: site.baseurl }}">Op-Eds</a>
    <a class="page-link" href="{{ "/resume" | prepend: site.baseurl }}">Resume</a>
        <a class="page-link" href="{{ "/contact" | prepend: site.baseurl }}">Contact</a>

  </div>

</div>
